<footer class="footer">
  <%= link_to image_tag('octolabs.png'), 'http://www.octolabs.com/', :class=>'octologo' %>
  <div class='text'>
    <p>This site is a demo for <%= link_to 'HandlebaRss','https://github.com/Octo-Labs/HandlebaRss' %>.</p>
    <p>
      You can find souce code for 
      <%= link_to 'HandlebaRss', 'https://github.com/Octo-Labs/HandlebaRss' %> and 
      <%= link_to 'this site','https://github.com/Octo-Labs/HandlebaRss/tree/gh-pages' %> on 
      <%= link_to 'Github','http://github.com/' %>.
    </p>
    <p>
      HandlebaRss is a production of 
      <%= link_to 'OctoLabs', 'http://www.octolabs.com/' %>.
    </p>
  </div>
</footer>
